@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #0a0a0a;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
